<div class="login-container">
  <div class="login-box">
    <h2>Log in</h2>
    <form>
      <div class="input-group">
        <label for="email">Email</label>
        <input type="email" id="email" placeholder="hello@example.com" required>
      </div>
      <div class="input-group">
        <label for="password">Password</label>
        <input type="password" id="password" required>
      </div>
      <button type="submit" class="login-button">Log in</button>
      <a href="#" class="forgot-password">I forgot my password</a>
    </form>
    <div class="signup-link">
      <p>Don't have an account?</p>
      <a href="#">Sign up for free!</a>
    </div>
  </div>
</div>