<div *ngIf="isLoading" class="flex justify-center items-center">
  <div class="animate-spin rounded-full h-8 w-8 border-t-2 border-b-2 border-blue-500"></div>
</div>
<div class="p-6 text-gray-200 bg-gray-900" [ngClass]="{'dark-mode': isDarkMode}">
  <!-- Header Section -->
  <div class="mb-8 text-center">
    <h1 class="text-3xl font-bold mb-2 text-gray-300">Smart Financial Planning</h1>
    <p class="text-gray-400">Harness the power of artificial intelligence to create personalized financial strategies and secure recommendations that optimize your financial goals faster!</p>
  </div>
  <div class="grid grid-cols-3 gap-8">
    <!-- Left Column -->
    <div class="col-span-1 space-y-6" style="max-width: 80%;">
      <div class="bg-gray-800 rounded-lg p-6 shadow-lg flex flex-col justify-between">
        <h2 class="text-xl font-semibold mb-4 text-gray-300">Select Your Path to Financial Success</h2>
        <div class="space-y-3">
          <div 
            class="flex items-center p-3 rounded-lg cursor-pointer transition duration-300 ease-in-out"
            [ngClass]="{'bg-gray-700': showRetirementForm, 'hover:bg-gray-700': !showRetirementForm}"
            (click)="toggleRetirementForm()">
            <span class="text-gray-300">Retirement Planning</span>
            <i class="fas fa-piggy-bank ml-2"></i>
          </div>
          <div 
            class="flex items-center p-3 rounded-lg cursor-pointer transition duration-300 ease-in-out"
            [ngClass]="{'bg-gray-700': showSpecificGoalForm, 'hover:bg-gray-700': !showSpecificGoalForm}"
            (click)="selectSpecificGoal()">
            <span class="text-gray-300">Specific Goal</span>
            <i class="fas fa-bullseye ml-2"></i>
          </div>
        </div>
      </div>
    </div>
    <!-- Right Column -->
    <div class="col-span-1 space-y-6" style="max-width: 150%;">
      <!-- Retirement Form -->
      <div *ngIf="showRetirementForm" class="bg-gray-800 rounded-lg p-6 shadow-lg flex flex-col justify-between">
        <form (ngSubmit)="submitRetirementForm()">
          <div class="space-y-4">
            <div class="grid grid-cols-2 gap-4">
              <div>
                <input type="text" class="form-input bg-gray-700 text-gray-200" placeholder="Target Retirement Age" required pattern="[0-9]*" [(ngModel)]="retirementAge" name="retirementAge">
              </div>
              <div>
                <input type="text" class="form-input bg-gray-700 text-gray-200" placeholder="Current Age" required pattern="[0-9]*" [(ngModel)]="currentAge" name="currentAge">
              </div>
              <div>
                <input type="text" class="form-input bg-gray-700 text-gray-200" placeholder="Monthly Expected Income" required pattern="[0-9]*" [(ngModel)]="monthlyExpectedSavings" name="monthlyExpectedSavings">
              </div>
              <!-- Risk Tolerance Dropdown -->
              <div>
                <select class="form-input bg-gray-700 text-gray-200" [(ngModel)]="riskTolerance" name="riskTolerance" required>
                  <option value="" disabled selected>Risk Tolerance</option>
                  <option value="High Return">High</option>
                  <option value="High Sharpe Ratio">Moderate</option>
                  <option value="Low Volatility">Low</option>
                </select>
              </div>
            </div>
            <div class="flex space-x-3">
              <button type="submit" class="btn-primary flex-1 transition duration-300 ease-in-out transform hover:scale-105 bg-blue-500 text-white">Submit Retirement Form</button>
            </div>
          </div>
        </form>
      </div>
      
      <!-- Specific Goal Form -->
      <div *ngIf="showSpecificGoalForm" class="bg-gray-800 rounded-lg p-6 shadow-lg flex flex-col justify-between">
        <form (ngSubmit)="submitSpecificGoalForm()">
          <div class="space-y-4">
            <div class="grid grid-cols-2 gap-4">
              <div>
                <input type="text" class="form-input bg-gray-700 text-gray-200" placeholder="Amount Needed" required pattern="[0-9]*" [(ngModel)]="amountNeeded" name="amountNeeded">
              </div>
              <div>
                <input type="text" class="form-input bg-gray-700 text-gray-200" placeholder="Time Frame" required pattern="[0-9]*" [(ngModel)]="timeFrame" name="timeFrame">
              </div>
              <div>
                <input type="text" class="form-input bg-gray-700 text-gray-200" placeholder="Monthly Savings" required pattern="[0-9]*" [(ngModel)]="monthlySavingsReq" name="monthlySavingsReq">
              </div>
              <div>
                <select class="form-input bg-gray-700 text-gray-200" [(ngModel)]="riskTolerance" name="riskTolerance" required>
                  <option value="" disabled selected>Risk Tolerance</option>
                  <option value="High Return">High</option>
                  <option value="High Sharpe Ratio">Moderate</option>
                  <option value="Low Volatility">Low</option>
                </select>
              </div>
            </div>
            <div class="flex space-x-3">
              <button type="submit" class="btn-primary flex-1 transition duration-300 ease-in-out transform hover:scale-105 bg-blue-500 text-white">
                Generate recommendations
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
<div *ngIf="flagRetire">
  <!-- Plan Overview -->
  <div class="mt-8 bg-gray-800 rounded-lg p-6 shadow-lg">
    <h2 class="text-xl font-semibold mb-4 text-gray-300">Plan Overview</h2>
    <div class="grid grid-cols-4 gap-8">
      <div>
        <div class="text-2xl font-bold text-gray-300">{{monthlySavings | currency:'INR':'symbol'}}</div>
        <p class="text-sm text-gray-400 mt-2">Monthly investment needed</p>
      </div>
      <div>
        <div class="text-2xl font-bold text-gray-300">{{ corpusAmount | currency:'INR':'symbol' }}</div>
        <p class="text-sm text-gray-400 mt-2">Total Corpus Required At Retirement</p>
      </div>
      <div>
        <div class="text-2xl font-bold text-gray-300">{{ future_monthly_income | currency:'INR':'symbol' }}</div>
        <p class="text-sm text-gray-400 mt-2">Future Monthly Income Needed After Retirement</p>
      </div>
      <div>
        <div class="text-2xl font-bold text-gray-300">{{timeInyears}} years</div>
        <p class="text-sm text-gray-400 mt-2">Time to reach goal</p>
      </div>
    </div>
  </div>
  <div class="mt-8 bg-gray-800 rounded-lg p-6 shadow-lg">
    <div class="mt-4">
      <p class="text-l text-gray-400">{{ planOverview }}</p>
    </div>
  </div>
  <!-- Portfolio Section -->
  <!-- Recommended Investment Allocation -->
  <div class="mt-8" *ngIf="investmentportfolioFlag">
    <h2 class="text-xl font-semibold mb-4 text-gray-300">Recommended Investment Allocation</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-6 gap-3" style="max-width: 70%;">
      <div *ngFor="let investment of investmentPortfolio" class="bg-gray-800 p-4 rounded-lg shadow-lg">
        <div class="text-2xl font-bold text-gray-300 mb-2 text-center">{{ investment.allocationPercentage }}</div>
        <p class="text-sm text-gray-400 flex text-center">
          {{ investment.assetType }}
          <span class="tooltip ml-2">
            <i class="fas fa-question-circle text-gray-500 cursor-pointer" (click)="filterMutFundData(investment.assetType)"></i>
            <span class="tooltiptext">See all funds of this asset type</span>
          </span>
        </p>
      </div>
    </div>
  </div>
  <!-- Recommended Portfolio Allocation -->
  <div class="mt-8 bg-gray-800 rounded-lg p-6 shadow-lg">
    <h2 class="text-xl font-semibold mb-4 text-gray-300">Recommended Portfolio Allocation</h2>
    <table class="min-w-full bg-gray-800 text-gray-300">
      <thead>
        <tr>
          <th class="py-2 px-4 text-left border-b border-gray-700">Fund Type</th>
          <th class="py-2 px-4 text-left border-b border-gray-700">Fund Name</th>
          <th class="py-2 px-4 text-right border-b border-gray-700">Allocation (%)</th>
          <th class="py-2 px-4 text-right border-b border-gray-700">Allocation Amount</th>
          <th class="py-2 px-4 text-left border-b border-gray-700">Remarks</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fund of filteredPortfolio">
          <td class="py-2 px-4 text-left border-b border-gray-700">{{ fund.assetType }}</td>
          <td class="py-2 px-4 text-left border-b border-gray-700">
            {{ fund.fundName }}
            <div class="text-sm text-gray-400 mt-1" title="1W: {{ fund['1W'] }}, 1M: {{ fund['1M'] }}, 3M: {{ fund['3M'] }}, 6M: {{ fund['6M'] }}, 1Y: {{ fund['1Y'] }}, 2Y: {{ fund['2Y'] }}, 3Y: {{ fund['3Y'] }}, 5Y: {{ fund['5Y'] }}, 10Y: {{ fund['10Y'] }}, Avg: {{ fund.averageReturn }}">
              <i class="fas fa-info-circle"></i> Past Returns
            </div>
          </td>
          <td class="py-2 px-4 text-right border-b border-gray-700">{{ fund.allocationPercentage }}%</td>
          <td class="py-2 px-4 text-right border-b border-gray-700">{{ fund.allocationAmount | currency:'INR':'symbol' }}</td>
          <td class="py-2 px-4 text-left border-b border-gray-700">{{ fund.reason }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div *ngIf="flagSpecific">
  <!-- Plan Overview -->
  <div class="mt-8 bg-gray-800 rounded-lg p-6 shadow-lg">
    <h2 class="text-xl font-semibold mb-4 text-gray-300">Plan Overview</h2>
    <div class="grid grid-cols-3 gap-4">
      <div>
        <div class="text-2xl font-bold text-gray-300">{{monthlyInvest | currency:'INR':'symbol'}}</div>
        <p class="text-sm text-gray-400 mt-4">Monthly investment</p>
      </div>
      <div>
        <div class="text-2xl font-bold text-gray-300">{{ targetAmount | currency:'INR':'symbol' }}</div>
        <p class="text-sm text-gray-400 mt-4">Target Amount</p>
      </div>
      <div>
        <div class="text-2xl font-bold text-gray-300">{{durationInYears}} years</div>
        <p class="text-sm text-gray-400 mt-2">Time to reach goal</p>
      </div>
 
    </div>
  </div>
  <div class="mt-8 bg-gray-800 rounded-lg p-6 shadow-lg">
    <div class="mt-4">
      <p class="text-l text-gray-400">{{ planOverview }}</p>
    </div>
  </div>
  <!-- Portfolio Section -->
  <!-- Recommended Investment Allocation -->
  <div class="mt-8" *ngIf="investmentportfolioFlag">
    <h2 class="text-xl font-semibold mb-4 text-gray-300">Recommended Investment Allocation</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-6 gap-3" style="max-width: 70%;">
      <div *ngFor="let investment of investmentPortfolio" class="bg-gray-800 p-4 rounded-lg shadow-lg">
        <div class="text-2xl font-bold text-gray-300 mb-2 text-center">{{ investment.allocationPercentage }}</div>
        <p class="text-sm text-gray-400 flex text-center">
          {{ investment.assetType }}
          <span class="tooltip ml-2">
            <i class="fas fa-question-circle text-gray-500 cursor-pointer" (click)="filterMutFundData(investment.assetType)"></i>
            <span class="tooltiptext">See all funds of this asset type</span>
          </span>
        </p>
      </div>
    </div>
  </div>
  <!-- Recommended Portfolio Allocation -->
  <div class="mt-8 bg-gray-800 rounded-lg p-6 shadow-lg">
    <h2 class="text-xl font-semibold mb-4 text-gray-300">Recommended Portfolio Allocation</h2>
    <table class="min-w-full bg-gray-800 text-gray-300">
      <thead>
        <tr>
          <th class="py-2 px-4 text-left border-b border-gray-700">Fund Type</th>
          <th class="py-2 px-4 text-left border-b border-gray-700">Fund Name</th>
          <th class="py-2 px-4 text-right border-b border-gray-700">Allocation (%)</th>
          <th class="py-2 px-4 text-right border-b border-gray-700">Allocation Amount</th>
          <th class="py-2 px-4 text-left border-b border-gray-700">Remarks</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fund of recommendedPortfolio">
          <td class="py-2 px-4 text-left border-b border-gray-700">{{ fund.assetType }}</td>
          <td class="py-2 px-4 text-left border-b border-gray-700">
            {{ fund.fundName }}
            <div class="text-sm text-gray-400 mt-1" title="1W: {{ fund['1W'] }}, 1M: {{ fund['1M'] }}, 3M: {{ fund['3M'] }}, 6M: {{ fund['6M'] }}, 1Y: {{ fund['1Y'] }}, 2Y: {{ fund['2Y'] }}, 3Y: {{ fund['3Y'] }}, 5Y: {{ fund['5Y'] }}, 10Y: {{ fund['10Y'] }}, Avg: {{ fund.averageReturn }}">
              <i class="fas fa-info-circle"></i> Past Returns
            </div>
          </td>
          <td class="py-2 px-4 text-right border-b border-gray-700">{{ fund.allocationPercentage }}%</td>
          <td class="py-2 px-4 text-right border-b border-gray-700">{{ fund.allocationAmount | currency:'INR':'symbol' }}</td>
          <td class="py-2 px-4 text-left border-b border-gray-700">{{ fund.reason }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal Component -->
<app-modal *ngIf="showModal" [mutFundData]="mutFundData" (closeModal)="showModal = false"></app-modal>

